* {
margin: 0;
padding: 0;
    box-sizing: border-box;
}

html {
scroll-behavior: smooth;
}

body {
font-family: 'Inter', sans-serif;
background-color: #E5E5E5;
color: #111;
  line-height: 1.6;
  
}
.navvvbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;    
    border-bottom: 1px solid #ddd;
}


.logo {
    font-weight: 600;
    font-size: 22px;
}

.navvvbar ul {
    list-style: none;
    display: flex;
    gap: 60px;
    margin: 0;
    padding: 0;
}

.navvvbar ul li a {
    text-decoration: none;
    color: #111;
    font-size: 19px;
    font-weight: 400;
}

.navvvbar ul li a:hover {
    color: red;
}






.hero {
display: flex;
        justify-content: space-between;
align-items: center;
    padding: 80px;
    
    
}








.hero-content {
    max-width: 800px;
    margin-top: -200px;
}

.hero h1 {
    font-size: 50px;
    font-weight: 200;
    letter-spacing: -5px
}


.about h4 {
    font-size: 30px;
    font-weight: 2;
    letter-spacing: -3px
}








.uplok-image img {
    width: 130%;     
    max-width: 1000px;
    height: auto;    
    display: block;   
    margin-left: 100;
    margin-right: auto;
    position: relative;
    left: -120px;
    top: -70px;
    
    
}

.image-line1 {
    position: absolute;
    bottom: 274px;      
    left: 0;            
    width: 1700px;     
    height: 1.5px;
    background: #111;
}

.image-line2 {
    position: absolute;
    bottom: -800px;      
    left: 0;            
    width: 1700px;     
    height: 1.5px;
    background: #111;
}

.service-image img {
    width: 450px;
    height: 500px;
    margin-right: 450px;
}

.about {
    padding: 60px 90px;
    margin-top: -100px; 
}

.section-header {
    margin-bottom: 10px;
    text-align: left;   
}

.section-header h2 {
    margin-top: 0;       
    margin-bottom: 10px; 
    font-size: 40px;    
}


.section-header hr {
    display: none; 
}

.about h4 {
    text-align: left;       
    font-weight: 200;
    line-height: 1.6;
    max-width: 800px;      
    margin: 0 0 40px 0;     
}

.about h5 {
    text-align: left;       
    font-weight: 280;
    line-height: 1.6;
    max-width: 860px;      
    margin: 0 0 40px 0;
    font-size: 20px;     
}

.project-grid {
    max-width: 1800px;
    display: flex;
    flex-wrap: wrap;       
    gap: 30px;             
    justify-content: flex-start; 
    margin: 0 auto;
}

.project-card {
    
    
    width: 300px;           
    text-align: left;        
    padding: 15px;
}

.project-card img {
             width: 100%;
       height: 200px;          
    object-fit: cover;
    border-radius: 5px;
}

.project-card h3 {
    font-size: 16px;       
    margin-bottom: 8px;
}

.project-card p {
    font-size: 14px;
    color: #555;
}



       .project-card img {
width: 100%;
height: 350px;
object-fit: cover;
}

.Services {
    padding: 60px 90px;
}

.services-grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.service-card {
    width: 300px;
    padding: 20px;
    background: #ffffff;
    border-radius: 3px;
}

.service-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.service-card p {
    font-size: 14px;
    color: #555;
}

.contact {
    padding: 80px 90px;        
    display: flex;
    flex-direction: column;
    align-items: left;      
}

.logo-image1 img {
    width: 40px;
    height: auto;
}

.logo-image2 img {
    width: 40px;
    height: auto;
    display: flex;
    gap: 1px;  
    margin-bottom: 20px;
    
}

.logo-image3 img {
    width: 40px;
    height: auto;
    display: flex;
    gap: 15px; 

}



form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;              
    max-width: 500px;          
}





    input, textarea {
    padding: 12px;
    border: 1px solid #111;
    background: transparent;
    font-family: inherit;
    width: 100%;               
    box-sizing: border-box;
}

textarea {
    height: 120px;
    resize: none;
}

button {
    padding: 12px;
    border: none;
    background: #111;
    color: #fff;
    cursor: pointer;
    width: 150px;              
    align-self: flex-start;    
}
